.container-fluid{
    padding: 0 0;
}

.position{
    text-align: center;
}
.first{
    background-color: rgb(27, 156, 221);
    background-image: linear-gradient(-180deg, #1BA0E2 0%, #0770CD 100%);
    padding-bottom: 24px;
    padding-top: 48px;
}


.main-title * {
    color: rgba(255,255,255,1.00);
}

.main-title h2{
    margin-bottom: 16px;
    line-height: 48px;  
    font-weight: 700;
}

.main-title h5{
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px
}
.form-control{
    width: 600px;
    margin: auto;
    text-align: center;
}

.form{
    padding-top: 0%;
}

.icon-search{
    position: absolute;
    margin-left: -290px;
    
   font-size: 30px;
}

.second{  
    padding: 40px 0;
}

.row-1{
    width: 480px !important;
}

.title-option{
    font-size: 24px;
    line-height: 24px;  
    text-align: left;
    font-weight: 700;

    padding: 20px 0;
}

.list-option{
    
    
    border-bottom-color: rgba(205,208,209,1.00);
    border-bottom-width: 1px;
    border-bottom: 1px solid rgba(205,208,209,1.00);;
    box-sizing: border-box;
   
    
}

#info{
    line-height: 24px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;

    margin-top: 8px;
    margin-bottom: 16px;

}

#info a{
    color: black;
}

#info a:hover{
    color: #1890ff;
}

.icon-arrow{
    float: right;
    font-size: 13px !important;
    color: #1890ff;
}

.need-help{
    padding-top: 48px;
}

.need-help-1{
    text-align: left;
    padding-bottom: 16px;
    color: rgba(3,18,26,1.00);
    line-height: 20px;
    font-weight: 700;
    font-size: 16px;
}
.need-help-2{
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    font-size: 16px;
    padding-bottom: 16px;
}
.btn-need-help{
    color: rgba(1,148,243,1.00);
    background-color: rgba(247,249,250,1.00);
    border:none;

    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.5rem;

}

.option{
    display: inline-block;
    width: 96px;
    margin-bottom: 24px;
    text-align: center;
    float: left;
}

.option-border{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    background-color: rgba(247,249,250,1.00);

    left: 50%;
    margin: auto;
    height: 48px;
    width: 48px;
    text-align: center;

    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
}
.option-layout{
    height: 76px;
}

.option-layout p{
    color: rgba(104,113,118,1.00);

    padding: 0;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 16px;
    text-align: center;
    font-weight: 500;
    height: 16px;

}
.option-layout img{
    width: 24px;
    height: 24px;

}
