#partnerDatXe, #partnerBietThu, #partnerDuaDonSanBay, #partnerKhachSan, #partnerVeMayBay, #partnerVoucherKhachSan{
    border: none !important;
    color: white;
    background-color: rgb(41, 119, 223);
    font-size: 24px;
    padding: 10px 20px;
}